/*******************************************
* Reset
*******************************************/

body,
p,
h1 {
	padding: 0;
	margin: 0;
}

/*******************************************
* Header
*******************************************/

.header {
	padding: 20px;
	font-family: Helvetica, Arial;
	background-color: #eee;
}

.header-logo {
	display: block;
}

/*******************************************
* Footer
*******************************************/

.footer {
	border-top: 1px solid #eee;
	padding: 20px;

}

.footer-copyright {
	font-family: Helvetica, Arial;
}

/*******************************************
* Login form
*******************************************/

.loginForm {
	padding: 20px;
}

.loginForm-heading {
	font-family: Helvetica, Arial;
}

.loginForm-description {
	font-family: Helvetica, Arial;
	margin-bottom: 30px;
}

/*******************************************
* Form Inputs and Submit Button
*******************************************/

.user-form {
	display: flex;
	flex-direction: column;
	width: 25vw;
	min-width: 260px;
}

.user-form input {
	margin-bottom: 10px;
	font-size: 1.2em;
	font-family: Helvetica, Arial;
	padding: 5px 0px 5px 0px;
}

.login-button {
	background-color: #0092db;
	color: white;
}

/*******************************************
* Error Message
*******************************************/

.error {
	font-family: Helvetica, Arial;
	color: red;
	display: none;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
}
